html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'siyuanyahei', arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* IOS 禁止微信浏览器调整字体大小 */
body {
    text-size-adjust: none !important;
}

input,
input:focus,
input:hover { 
    outline: none !important;
    border-color: #dcdfe6 !important;
}

li {
    list-style-type: none;
}

button {
    outline: none !important;
}